# Register at https://nowpayments.io/api to get your credentials.

# Generate an api key, 
# for non-admin requests.
NOWPAYMENTS_SANDBOX_API_KEY=""
NOWPAYMENTS_API_KEY=""

# Your nowpayments account credentials, 
# only for admin requests.
NOWPAYMENTS_EMAIL=""
# WARNING: No special chars in password.
NOWPAYMENTS_PASSWORD=""
